* {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}

html,body{
	height:100%;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

body {
	/*background-color: #/*26ACB4;*/
	background-color: #E8EEF8;
	/*background-image: url("http://cdn29.us1.fansshare.com/images/tumblrbackgrounds/black-white-abstract-pattern-vector-line-drawing-graphic-pen-textile-pattern-vasare-nar-commission-summer-trend-contemporary-fashion-aztec-navajo-triangles-black-and-white-74471252.jpg");*/*/
	/*background: url(../images/stardust_@2X.png) repeat center center fixed; */
	/*-webkit-background-size: cover;*/
	/*-moz-background-size: cover;*/
	/*-o-background-size: cover;*/
	/*background-size: cover;	*/
	/*height: 100%;*/
}

@media screen and (max-width: 800px) {
    .side-banner {
        display: none !important;
    }

   	.bottom-banner {
   		display: none !important;
   	}
}

@media screen and (min-width: 800px) {
   	.bottom-banner-mobile {
   		display: none !important;
   	}
}

/*.container {
	background-color: #26ACB4;
}
*/

.full-screen {
/*	height: 100%;
	min-height: 100%;
*/	/*background-color: #000000;*/
	/*background-color: rgba(0, 0, 0, 0.45)*/
}

.form-container {
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	max-width: 700px;
	min-width: 280px;
	width: 100%;
	display: block;
}

.title {
	color: rgb(80,80,80);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	float: left;
	font-size: 4.32vh;
}

.about-title {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 5.76vh;
	text-align: center;
	vertical-align: middle;
}

.sub-title {
	color: #8C8680;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 4.32vh;
}

h2 {
	font-size: 8vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #ffffff;
}

.money {
	font-size: 3.024vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	color: #3CC279;
	text-align: center;
}

.timer {
	font-size: 35vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #FA3D79;
}

.continue {
	font-size: 120pt;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #F8F0DC;
}

.continue:hover {
	color: #F8F0DC;
}

.buzz-button {
    display: inline-block;
    padding: 1em;
    background-color: #26ACB4;
    text-decoration: none;
    color: white;
}

.radio-button-div {
	clear: left;
	float:left;
}

.ghost-button {
	background-color: black !important;
	text-transform: uppercase;
	border: none;
	padding: 0 !important;
	height: 7vh;
	font-size: 2.304vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
	border-style: solid;
	border-color: #000000;
}

.ghost-button:hover {
	background-color: #FFFFFF !important;
	color: #000000 !important;
	font-weight: 600;
}

.ghost-button-clicked {
	background-color: #FFFFFF !important;
	text-transform: uppercase;
	border: none;
	padding: 0 !important;
	height: 7.2vh;
	font-size: 2.304vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #FA3D79;
	border-style: solid;
	border-color: #FA3D79;
}

.ghost-button-clicked:focus {
	outline: none;
}

.donate-button {
	background: #FA3D79 !important;
	border: none;
	padding: 0 !important;
	height: 7.2vh;
	font-size: 2.304vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #FFF;
}

.donate-button:focus {
	color: #FA3D79 !important;
	font-weight: 600;
	outline: none;
}

.donate-button:hover {
}

.box {
/*	border-style: solid;
	border-width: 1;
	border-color: #FFFFFF;
*/}

.box-green {
/*	border-style: solid;
	border-width: 1;
	border-color: #FA3D79;
*/}

.title-box {
	height: 13.5vh;
	margin-bottom: 2.88vh;
	/*text-align: center;*/
	vertical-align: middle;
	/*fbackground-color: black;*/
	margin-top: 2.88vh;
}

.menu {
	border-style: solid;
	border-width: 1;
	border-color: white;
	padding-bottom: 4.3vh;
	padding-top: 2.86vh;
	background-color: white;
}

.donated-menu {
	border-style: solid;
	border-width: 1;
	border-color: white;
	padding-bottom: 1.44vh;
	padding-top: 1.44vh;
	background-color: white;
	margin-bottom: 2.88vh;
}

.donations-div {
	border-style: solid;
	border-width: 4px;
	color: #3CC279;
	border-color: #3CC279;
	padding-top: 1.44vh;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: middle;
}

.donate-again {
	background-color: #FA3D79 !important;
	text-transform: uppercase;
	border: none;
	padding: 0 !important;
	height: 7.2vh;
	font-size: 2.304vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
	border-style: solid;
	border-color: #FFF;
}

.donate-again:hover {
	background-color: #000 !important;
	color: #FFF;
	border-color: #FA3D79;
	font-size: 2.304vh;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
}

.donate-again:focus {
	outline: none;
}

footer {
	color: #FFF;
	/*clear: both;*/
    position: relative;
    z-index: 10;
    height: 2.5em;
    margin-top: -2.5em;
    bottom: 0;
}

.banner {
	clear: both;
    position: relative;
    z-index: 10;
    height: 2.5em;
    margin-top: -2.5em;
    bottom: 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.about {
	color: #FFFFFF !important;
	font-family: 'Roboto', sans-serif;
	font-size: 1.728vh;
}

.suggestion {
	color: #FFFFFF !important;
	font-family: 'Roboto', sans-serif;
	font-size: 1.728vh;
}

.footer-desc {
	margin-right: 1.44vh;
	text-align: right;
	color: #FFFFFF !important;
	font-family: 'Roboto', sans-serif;
	font-size: 1.728vh;
}

.about-footer {
	color: #FFF;
	clear: both;
    position: relative;
    z-index: 10;
    height: 2.5em;
    margin-top: -2.5em;
}

.share-footer-desc {
	margin-right: 1.44vh;
	text-align: left;
	color: #FFFFFF !important;
	font-family: 'Roboto', sans-serif;
	font-size: 1.728vh;
}

.side-banner {
	width: 25.93vh;
	height: 86.4vh;
}

.top-buffer {
	margin-top: 1.44vh;
}

.top-large-buffer {
	margin-top: 2.88vh;
}

.bottom-buffer {
	padding-bottom: 1.44vh;
}